{% extends 'base.html' %}

{% block cuerpo %}
<div class="untree_co-section pb-0">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Agregar Noticia</strong></h2>
                <p class="gsap-reveal-hero">Complete los datos solicitados para la nueva noticia.</p>
                <div class="wave gsap-reveal-hero">
                    <svg>
                        <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
                    </svg>
                </div>
                <a href="{% url 'acceder' %}" class="btn btn-primary btn-block rounded-pill shadow-sm mt-4">Volver</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="{% url 'agregar_noticia' %}" method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="titulo">Título de la Noticia:</label>
                        <input type="text" name="titulo" id="titulo" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="cuerpo">Cuerpo de la Noticia:</label>
                        <textarea name="cuerpo" id="cuerpo" class="form-control" rows="5" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="imagen">Imagen de la Noticia:</label>
                        <input type="file" name="imagen" id="imagen" class="form-control-file" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="grupo">Grupo:</label>
                        <select name="grupo" id="grupo" class="form-control" required>
                            {% for grupo in grupos.all %}
                            <option value="{{ grupo.id }}">{{ grupo.grupo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary rounded-pill shadow-sm" value="Publicar Noticia">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
{% endblock %}
