{% extends 'base.html' %}

{% block cuerpo %}
<div class="untree_co-section pb-0">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Bienvenido al sistema xxxxxx</strong></h2>
          <p class="gsap-reveal-hero">Disfrute de su visita.</p>
          <div class="wave gsap-reveal-hero" >
            <svg>
              <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="row">
        

       
      </div>
    </div>
  </div>
{% endblock %}