{% extends 'base.html' %}

{% block cuerpo %}
<style>
    .card-text,
    .card-title,
    .text-muted {
        color: #000 !important; /* Asegura que el color sea negro y anula otros estilos */
    }
    .card .card-title {
        color: #000 !important; /* Más específico para asegurar la aplicación del color */
    }
</style>
<div class="container">
    <br>
    <br>
    <a href="{% url 'ver_noticias' %}" class="btn btn-primary btn-block rounded-pill shadow-sm mt-4">Volver</a>
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">{{ noticia.titulo }}</h2>
            <p class="card-text"><small class="text-muted">Publicado el: {{ noticia.fecha }}</small></p>
            <p class="card-text"><strong>Grupo:</strong> {{ noticia.grupo.grupo }}</p>
            <p class="card-text"><strong>Autor:</strong> {{ noticia.autor.nombre }}</p>
            {% if noticia.imagen %}
            <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Imagen de la noticia">
            {% endif %}
            {% if nivel_usuario == "ADMINISTRADOR" or nivel_usuario == "MODERADOR" %}
            <form action="{% url 'eliminar_noticia' noticia.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
            {% endif %}
            <p class="card-text">{{ noticia.cuerpo }}</p>
        </div>
    </div>
</div>
{% endblock %}
