{% extends 'base.html' %}

{% block cuerpo %}
<style>
    .card-title {
        color: #000 !important;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .card-text,
    .text-muted {
        color: #000 !important;
    }

    .news-content {
        display: flex;
        flex-wrap: wrap;
    }

    .news-image {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        /* Ensures the image maintains its aspect ratio */
        margin-bottom: 20px;
    }

    .news-text {
        width: 100%;
        padding-left: 20px;
    }

    .full-width {
        width: 100%;
        padding-top: 20px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .custom-dropdown-toggle {
        background-color: white !important;
        border: none !important;
        font-size: 1.5rem;
        /* Increase the size of the three dots */
        padding: 0;
        color: #000;
        /* Color of the three dots */
    }

    .dropdown-menu {
        background-color: white !important;
    }

    .comment-card {
        border: 1px solid #ccc;
    }
</style>

<div class="container">
    <br>
    <br>
    <a href="{% url 'ver_noticias' %}" class="btn btn-primary btn-block rounded-pill shadow-sm mt-4">Volver</a>
    <div class="card mt-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h2 class="card-title">{{ noticia.titulo }}</h2>
                {% if nivel_usuario == "ADMINISTRADOR" or nivel_usuario == "MODERADOR" %}
                <div class="dropdown">
                    <button class="btn custom-dropdown-toggle dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Editar</a>
                        <form action="{% url 'eliminar_noticia' noticia.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            <p class="card-text"><small class="text-muted">Publicado el: {{ noticia.fecha }}</small></p>
            <p class="card-text"><strong>Grupo:</strong> {{ noticia.grupo.grupo }}</p>
            <p class="card-text"><strong>Autor:</strong> {{ noticia.autor.nombre }}</p>
            <div class="news-content">
                {% if noticia.imagen %}
                <img src="{{ noticia.imagen.url }}" class="card-img-top news-image" alt="Imagen de la noticia">
                {% endif %}
                <div class="news-text">
                    <p class="card-text">{{ noticia.cuerpo|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de comentarios -->
    <div class="comments-section">
        <h3 class="card-title mt-5">Comentarios</h3>
        {% if nivel_usuario == "ADMINISTRADOR" or nivel_usuario == "MODERADOR" or nivel_usuario == "LECTOR" %}
        <form class="mb-5" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="cuerpo">Añadir un comentario:</label>
                <textarea class="form-control" id="cuerpo" name="cuerpo" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {% else %}
        <p>Debes <a href="{% url 'acceder' %}">iniciar sesión</a> para comentar.</p>
        {% endif %}
    
        {% if comentarios_no_visibles %}
        <h3 class="card-title mt-4">Comentarios por moderar:</h3>
        {% for comentario in comentarios_no_visibles %}
        <div class="card comment-card mb-2">
            <div class="card-body">
                <p class="comment-author">{{ comentario.autor.nombre }} - <small class="text-muted">{{comentario.fecha}}</small></p>
                <p class="comment-body">{{ comentario.cuerpo }}</p>
                {% if nivel_usuario == "ADMINISTRADOR" or nivel_usuario == "MODERADOR" %}
                <form method="post" action="{% url 'aprobar_comentario' comentario.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-success btn-sm" type="submit">Aprobar</button>
                </form>
                <form method="post" action="{% url 'eliminar_comentario' comentario.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    
        {% for comentario in comentarios_visibles %}
        <div class="card comment-card mb-2">
            <div class="card-body">
                <p class="comment-author">{{ comentario.autor.nombre }} - <small class="text-muted">{{comentario.fecha}}</small></p>
                <p class="comment-body">{{ comentario.cuerpo }}</p>
                {% if nivel_usuario == "ADMINISTRADOR" or nivel_usuario == "MODERADOR" %}
                <form method="post" action="{% url 'eliminar_comentario' comentario.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

<!-- Bootstrap JS for dropdown functionality -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJTY5KVphtPhzWj9WO1clHTMGa52X+OTn60DzJ4FpW4IKcbfQ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{% endblock %}