{% extends 'base.html' %}

{% block cuerpo %}
<div class="container">
    <br>
    <br>
    <h2 class="section-heading">Noticias</h2>
    <div class="row">
        {% for noticia in noticias %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ noticia.titulo }}</h3>
                    <p class="card-text">{{ noticia.cuerpo }}</p>
                    <p class="card-text"><small class="text-muted">Publicado el: {{ noticia.fecha }}</small></p>
                    <p class="card-text"><strong>Grupo:</strong> {{ noticia.grupo.grupo }}</p>
                    <p class="card-text"><strong>Autor:</strong> {{ noticia.autor.nombre }}</p>
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Imagen de la noticia">
                    {% endif %}
                    {% if nivel_usuario == "ADMINISTRADOR" %}
                    <form action="{% url 'eliminar_noticia' noticia.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
