{% extends 'base.html' %}

{% load static %}
{% block cuerpo %}
<style>
    .card-text,
    .card-title,
    .text-muted {
        color: #000 !important;
    }
    .card .card-title {
        color: #000 !important;
    }
    .card-img-top {
        height: auto; 
        max-width: 100%;
        display: block; 
        margin: 0 auto;
        max-height: 200px;
        object-fit: cover; 
    }
</style>
<div class="container">
    <br>
    <br>
    <h2 class="section-heading mt-4">Noticias</h2>
    <div class="row">
        {% for noticia in noticias %}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'ver_noticia_completa' noticia.id %}" style="text-decoration: none; color: inherit;">
                        <h3 class="card-title">{{ noticia.titulo }}</h3>
                    </a>
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Imagen de la noticia">
                    {% endif %}
                    <p class="card-text">{{ noticia.cuerpo|truncatechars:200 }}</p>    
                    <p class="card-text"><small class="text-muted">Publicado el: {{ noticia.fecha }}</small></p>
                    <p class="card-text"><strong>Grupo:</strong> {{ noticia.grupo.grupo }}</p>
                    <p class="card-text"><strong>Autor:</strong> {{ noticia.autor.nombre }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
